<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>四川大学视频共享平台</title>
    <link rel="stylesheet" href="../public/stylesheets/index.css"/>
</head>
<body>
<!--页面开始-->
<div id="fd-cantion">
    <!--头部-->
    <header>
        <div id="title">
            <span>四川大学视频共享平台</span>
            <p class="btn">登录/注册</p>
            <p class="choice btn" id="my_video">我的</p>
            <p class="choice btn active" id="every_video">全部</p>
        </div>
    </header>
    <!--正文-->
    <section></section>
    <!--页脚-->
    <footer>
        <div class="loading" id="loading">loading......</div>
        <div id="footer"></div>
    </footer>
</div>
<!--页面结束-->
<script src="../public/javascripts/jquery.3.3.1.js"></script>
<script src="../public/javascripts/index.js"></script>
</body>
</html>