<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>四川大学视频共享平台</title>
    <link rel="stylesheet" href="../public/stylesheets/index.css"/>
</head>
<body>
<!--页面开始-->
<div id="fd-cantion">
    <!--头部-->
    <header>
        <div id="title">
            <span>四川大学视频共享平台</span>
            <p class="choice" id="login">登录/注册</p>
            <p class="choice" id="my_video">我的</p>
            <p class="choice active" id="every_video">全部</p>
        </div>
    </header>
    <!--正文-->
    <section>
        <div class="login">
            <input type="text" placeholder="请输入用户名">
            <input type="password" placeholder="请输入密码">
            <input type="button" placeholder="请输入密码" value="登录">
        </div>
    </section>
    <!--页脚-->
    <footer>
        <div class="loading" id="loading">loading......</div>
        <p class="loading" id="no_more">没有更多了...</p>
        <div id="footer"></div>
    </footer>
</div>
<!--页面结束-->
<script src="../public/javascripts/jquery.3.3.1.js"></script>
<script src="../public/javascripts/index.js"></script>
</body>
</html>