<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
<body>
<div class="form-group">
    <label for="inputFile">File input</label>
    <input name='inputFile' type='file' id="inputFile" required/>
    <p class="help-block">请确认上传的文件是否是png图片.</p>
</div>
<button type="button" class="btn btn-default" id="upload">上传</button>

<div class="form-group">
    <label for="upload-video">File input</label>
    <input name="upload-video" type='file' id="upload-video" required/>
    <p class="help-block">请确认上传的文件是否是视频.</p>
</div>
<button type="button" class="btn btn-default" id="upload-v">上传</button>

<script src="../public/javascripts/jquery.3.3.1.js"></script>
<script src="../public/javascripts/index.js"></script>
</body>
</html>