body{
    font-family:"Microsoft YaHei";
    background-color:#c8c8c8;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
header{
    height: 83px;
}
a{
    text-decoration:none;
}
.title{
    font-size: 25px;
    margin:5px 0;
}
#title{
    z-index: 1;
    position: fixed;
    width: calc(100% - 50px);
    font-size:30px;
    padding:20px;
    color:#d2c9e8;
    background-color:#585858;
    min-width:560px;
    margin:3px auto 3px auto;
    font-family: 'Orbitron', sans-serif;
}
.choice{
    font-size:10px;
    float:right;
    margin:10px;
    cursor:pointer;
}
.loading{
    font-size:20px;
    padding:20px;
    color:#d2c9e8;
    background-color:#5858e8;
    min-width:560px;
    margin:3px auto;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    /*display: none;*/
}
.active::before{
    content: "";
    display: block;
    position:relative;
    top:-10px;
    border:1px solid;
}

.video_item{
    min-width:560px;
    background: #83867e;
    margin:3px auto;
    text-align: center;
    padding: 20px;
}
.video_img{
    height:200px;
    cursor:pointer;
}

.profile{
    min-width:560px;
    display: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #D2C9E8;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D2C9E8;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #D2C9E8;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #D2C9E8;
}
#profile {
    display: none;
}

.login{
    min-width:560px;
    display: none;
}
.login input,.profile input{
    color: #D2C9E8;
    text-align: center;
    background-color: #585858;
    min-width:560px;
    /*font-weight: bold;*/
    border: 0;
    margin: 3px auto;
    display: block;
    height: 60px;
}
.fd-cantion{
    margin: 0 5px;
}
#footer{
    background-color:#585858;
    min-width:560px;
    height:10px;
    padding:0 20px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 50px);
}
.login>input{
    margin:15vh auto;

    border-radius: 5px;
    font-size: 20px;
}
#login-btn,#logout-btn{
    border-radius: 50px;
    cursor: pointer;
}
/*video{*/
    /*display: block;*/
/*}*/
.video_item img{
    height: 14px;
}
.video_item video{
    width: 100%;
}
.zkpl{
    cursor:pointer;
}
.comment_item{
    /*display: none;*/
}
.video_item input{
    color: #D2C9E8;
    text-align: center;
    background-color: #585858;
    /*min-width:560px;*/
    /*font-weight: bold;*/
    line-height: 40px;
    border: 0;
    margin: 3px 3px;
    height: 40px;
    padding:0 5px;
}
#textInput{
    width: 400px;
}
.no_more{
    color:#c8c8c8;
}
.dyh{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.comment_del{
    color: red;
    cursor:pointer;
}
.profile p{
    /*text-align: center;*/
}
.profile-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 12px;
}
.change-board {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 12px;
}
.avatar{
    float: right;
}
.profileFloat{
    margin-left: 110px;
    float: left;
}
.over_flow{
    overflow: hidden;
}
.avatar{
    cursor:pointer;
}
.curtain{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    width: 100%;
}
.avatar-modal{
    display: none;
}
h1 {
    display: inline-block;
}
.profile-change-btn{
    float: right;
    color: blue;
    cursor:pointer;
}
.change-board input{
    /*margin: auto;*/
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
}
.profile-modal{
    display: none;
}

li{
    list-style:none;
    margin: 60px auto;
}
li label,li input{
    font-size: 24px;
    line-height: 24px;
}
.newVideo{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background: url("../images/+.jpg") no-repeat center;
}
