body{
    font-family:"Microsoft YaHei";
    background-color:#c8c8c8;
}
a{
    text-decoration:none;
}
#title{
    font-size:30px;
    padding:20px;
    color:#d2c9e8;
    background-color:#585858;
    min-width:560px;
    margin:3px auto;
    font-family: 'Orbitron', sans-serif;
}
.btn{
    font-size:10px;
    float:right;
    margin:10px;
    cursor:pointer;
}
.loading{
    font-size:20px;
    padding:20px;
    color:#d2c9e8;
    background-color:#5858e8;
    min-width:560px;
    margin:3px auto;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.active::before{
    content: "";
    display: block;
    position:relative;
    top:-10px;
    border:1px solid;
}
#footer{
    background-color:#585858;
    min-width:560px;
    height:10px;
    margin:3px auto;
    padding:0 20px;
}
.video_item{
    height:300px;
    min-width:560px;
    background: #83867e;
    margin:3px auto;
    text-align: center;
    padding: 20px;
}
.video_img{
    height:200px;
    cursor:pointer;
}
.author{
    width: 100%;
    float: left;
}